body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.1em;
  color: #dedede;
  margin: 0;
}

nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
  text-align: center;
  padding: 0;
  list-style: none;
  margin: 0;
}

/*styling the unordered list*/
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-size: 40px;
}

/*styling list elements*/
nav li {
  display: inline-block;
  line-height: 35px;
  width: 150px;
}
  
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px; /*sets padding of links to be even*/
  text-align: center;
  font-size: 70%;
  display: block;
}

nav a:hover, nav a:focus {
  background-color: rgb(43, 179, 167, 0.8);
}

@media (max-width: 500px) {
  nav li {
    width: 100%;
  }
}