body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #555;
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grayscale {
  filter: grayscale(100%);
}

.blur {
  filter: blur(2px);
}

.invert {
  filter: invert(100%);
}

.brightness {
  filter: brightness(0.5);
}

.saturation {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(100%);
}

.mixed {
  filter: grayscale(100%) blur(2px);
}

