 body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0173a0;
  font-size: 16px;
}

form {
  display: block;
  background-color: #ffffff;
  margin: 50px auto;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;

}

h1 {
  color: #0173a0;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
}

input {
  padding: 10px;
  display: inline-block;
}

input[type=text] {
  width: 95%;
}

select {
  width: 100%;
  font-size: 16px;
}

label[for="required"] {
  color: gray;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type=submit] {
  width: 49%;
  background-color: #0173a0;
  border: 1px solid;
  border-color: #0173a0;
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
}

input[type=reset] {
  width: 50%;
  background-color: #ffffff;
  font-size: 16px;
  color: #0173a0;
  border: 0.1px solid;
  border-color: gray;
}

@media (max-width: 476px) {
  form {
    width: 90%;
    display: block;
  }
}

@media (max-width: 768px) {
  form {
    width: 90%;
    display: block;
  }
}